.blogPostContainer {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    height: 40vh;
}

.blogPostTitle {
    width: 90%;
    text-align: center;
    margin-bottom: 1vh;
    border-radius: .5vh;
    box-shadow: 0px 0px 10px black;
    background-color: #a6b2c5;
}

.blogPostTitle h1 {
    margin: auto;
    padding-top: .5vh;
    padding-bottom: .5vh;
    font-size: 2vh;
}

.blogPostBody {
    height: 25vh;
    width: 95%;
    border-radius: .5vh;
    background-color: #c8cfdb;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

.blogPostBodyText {
    height: 22vh;
    width: auto;
    border: 1.5vh solid #c8cfdb;
    border-top-width: .5vh;
    border-bottom-width: .5vh;
    border-radius: .5vh;
    overflow: hidden;
    line-height: 2vh;
}

.blogPostBody p {
    font-size: 1.5vh;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.buttonContainer button {
    margin: 10px;
    background-color: #c8cfdb;
    border-radius: 5px;
    cursor: pointer;
<<<<<<< HEAD
}
=======

}
>>>>>>> 0c26ad564106e59d8bac6593209a41560c61a925
